<div class="latest-image">
    <h1 class="latest-image__heading">Latest image</h1>
    <p class="latest-image__body">Meteor M2-3, 2026-05-24 @ 10:52</p>
    <img src="/sat-images/METEOR_M2-3/2026/05/METEOR-M23_AVHRR221_20260524_Europe.png" alt="Image from Meteor M2-4, 2026-04-12 at 15:40" class="latest-img">
</div>

<section class="recent-images">
    <h2 class="recent-images__heading">Recent Images</h2>

    <ul class="recent-images-ul">
        <li>
            <a href="#">
                <p class="recent-images__date">Meteor M2-4, 2026-04-12 @ 15:40</p>
                <img src="/sat-images/METEOR_M2-4/2026/04/METEOR-M24_AVHRR3a21_20260412_Europe.png" alt="Image from Meteor M2-4, 2026-04-12 at 15:40" class="recent-img">
            </a>
        </li>
        <li>
            <a href="#">
                <span class="recent-images__date">Meteor M2-3, 2026-04-11 @ 10:51</span>
                <img src="/sat-images/METEOR_M2-3/2026/04/METEOR-M23_AVHRR221_20260411_Europe.png" alt="Image from Meteor M2-3, 2026-04-11 at 10:51" class="recent-img">
            </a>
        </li>
        <li>
                <a href="#">
                    <span class="recent-images__date">Meteor M2-3, 2026-01-29 @ 20:50</span>
                    <img src="/sat-images/METEOR_M2-3/2026/01/METEOR-M23_CH4_20260129_2050_Switzerland.png" alt="Image from Meteor M2-3, 2026-01-29 at 20:50" class="recent-img">
                </a>
        </li>
    </ul>

    <a href="/images" class="more-images">View More Images</a>

</section>