<div class="latest-image">
    <h1 class="latest-image__heading">Latest image</h1>
    <p class="latest-image__body">Meteor M2-3, 2026-01-29 @ 20:50</p>
    <img src="/sat-images/METEOR_M2-3/2026/01/METEOR-M23_CH4_20260129_2050_Switzerland.png" alt="Image from Meteor M2-3, 2026-01-29 at 20:50" class="latest-img" width="1400" height="568">
</div>

<section class="recent-images">
    <p class="recent-images__heading">Recent Images</p>

    <ul class="recent-images-ul">
        <li>
            <a href="#">
                <span>Photo Title</span>
                <img src="idk" alt="some image from a satellite" class="recent-img" width="700" height="284">
            </a>
        </li>
    </ul>

    <a href="/images" class="more-images">View More Images</a>

</section>